/MrConnect/bin
/MrConnect/obj
/MrConnect/data

/Servers/Discord/bin
/Servers/Discord/obj
/Servers/Discord/data

/Servers/WoT/bin
/Servers/WoT/obj
/Servers/WoT/data

/Shared/Discord/bin
/Shared/Discord/obj

/Shared/WoT/bin
/Shared/WoT/obj

/cmd
/.vs